footer(class=`footer footer-${pageName}`)
    .container
        .footer__content
            .footer__elem
                .footer__text
                    p +7 925 658 5352
                    p krobox@gmail.com
                    p skype - kroklya
            .footer__elem
                .footer__nav
                    +nav('nav_footer', ['Мои работы', 'Обо мне', 'Блог', 'Авторизация'], ['/works.html', '/about.html', '/blog.html', '/'])
                    +socials('footer', ['vk', 'github', 'in'], ['https://vk.com/kate_kro', 'https://github.com/grooownow', '#'])
            .footer__elem
                .footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                .footer__quote-author --- Martin Golding
        .footer__copyright #{name} | Loftschool | 2017
