section.section-form
	.section-form-title
	form.form-spectarif.pop-up__form(action='http://maot.ru/podmsk/tilda/les_landing.php', method='POST',)
		input.form-spectarif__inp.hidden(name="hotel" , value="корп.ленд. #{title}")
		input.form-spectarif__inp(name="name", placeholder="Ваше имя", type="text")
		input.form-spectarif__inp(name="phone", placeholder="Ваш телефон", type="tel", required="")
		button.form-spectarif__btn(onclick="yaCounter42722349.reachGoal('goal_30min_1'); return true", type="submit" ) Получить СПЕЦТАРИФ