header.header

    +socials('header', ['vk', 'github', 'in'], ['https://vk.com/kate_kro', 'https://github.com/Ludvik4', '#'])
    +arrow('down', `#${pageName}`)

    include ../sections/menu
    include ../sections/hero

