header.header
    .container
        a.logo(href='#')
        .search
            form.search__form
                input.search__input(name='', type='text', placeholder='Search')
                input.search__submit(name='', type='submit', value='Send')
        .socials
            ul.socials__list
                each social in ['vk', 'fb', 'tw']
                    li.socials__item
                        a(class=`socials__link socials__link_${social}` href='#')
                            img.socials__link-pic(src=`/img/icons/${social}.png`, alt='')
