.hero
	.hero__bg
		//img(src="assets/images/water.jpg" alt="").hero__bg-img
	.hero__container
		svg.hero-title-pic
			use(xlink:href="assets/images/sprite.svg#portfolio_header")
		include ../sections/user
