.flip__item
	display: none

.flip__item-welcome
	+centered()
	text-align: center
	padding-top: 40px
	width: 380px
	margin: 0 auto
	color: #fff
	background: rgba(18, 38, 32, 0.6)
	border-radius: 0 0 5px 5px
	+phone
		width: 300px

.front
	display: block