
//colors

$bg-btn: rgba(97, 144, 85, .65)
$bg-btn_hover: rgba(70, 124, 55, 1)
$green_transp: rgba(70, 124, 55, 0.8)
$bg-grey: rgba(140, 152, 149, 1)
$bg-grey_transp: rgba(140, 152, 149, .65)

$white: #f4f5f0 //about-column-right
$light-green: #ebefe2 //about-column-left
$green: #74a163 //skills
$f-green: #566358 //big-title
$f-dark-green: #373e42 //medium-title

//animation
$transition: 0.5s

//fonts
$sansus: 'sansus webissimo regular'

//margin
$header-top_mrg: 30px
$p-mrg: 20px