.about 
	//@extend %clearfix
	display: flex
	flex-flow: row wrap
.about__pic
	max-width: 100%
	margin-bottom: 40px

.about__col
	flex: 1 1 364px
	&_left 
		background: $light-green
		padding: 0 80px 40px
		+tablet
			padding-bottom: 80px
		+phone
			padding: 20px
		.about__triangle 
			left: 0
			fill: $light-green

	&_right 
		background: $white
		padding-left: 35px
		+tablet
			padding: 20px 80px
		+phone
			padding: 20px
		.about__triangle 
			right: 0
			fill: $white
			+tablet
				fill: $light-green

.about__triangle
	display: block
	width: 50%
	height: 110px
	position: absolute
	bottom: 100%

.section-title__wrap
	position: relative
.section-title
	+title('big')
	position: relative
	z-index: 2
	padding: 20px
.block-title
	+title('medium')
	max-width: 270px
	margin: 0 auto 30px
.skills-group__title
	+title('small')
.section-title__bg
	fill: $yellow
	width: 100%
	height: 100%
	z-index: 0
	+centered()
.block-text
	p
		margin-bottom: $p-mrg

