
.about__col.about__col_left
   svg(viewbox="0 0 1000 110" preserveAspectRatio="none").about__triangle
      polygon(points="0,0 0,110 1000, 110")
   .section-title__wrap
      h1.section-title Обо мне
      svg.section-title__bg
         use(xlink:href="assets/images/sprite.svg#about_header")
   img.about__pic(src='/assets/images/userbig.jpg')
   .block-title Кто я
   .block-text
      p Я занимаюсь html-версткой с углублением в разработку с 2015 года. Мне 31 год и на данный момент я живу в Москве. Я проходила обучение на курсах Loftschool ("Веб-разработка, начальный уровень" и "Веб-разработкая, продвинутый курс"), а также на курсах HTML-Academy.
      p С 2015 по конец 2016 года я работала на фрилансе, исполняя частные заказы и пополняя портфолио работ, затем перешла на работу в офис, где занимаюсь поддержкой и созданием сайтов.


