extends ../layout

block variables
	-var name = 'Екатерина Пустовая'
	-var pageName = 'about'

block title
	| #{name} | Обо мне

block content
	.wrapper
		.maincontent
			include ../sections/header

			section.section.about(id=`${pageName}`)
				include ../common/about/about
				include ../common/about/skills

	include ../common/about/contacts

	include ../sections/footer

	script(async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyDIYoDNxzy_AcBOF7llhb3v8BIm7_9KKsA&callback=initMap")
