extends ../layout

block variables
	-var title ='Отель Лес-Арт'

block title
	title #{title} || Корпоративная презентация

block content
	section.section-img
		.block-logo
			img.block-logo__img(src='/assets/img/logo.png')
			.block-logo__desc раздел для корпоративных клиентов
	section.section-img
		+block-text('Солнечный Hotel & SPA', ["Парк-отель «Солнечный» находится в 56 км от МКАД по Ленинградскому шоссе.  Охраняемая территория отеля находится рядом с Живагинским прудом и прилегает к лесопарковой зоне площадью 100 Га, переходящей в хвойный лес. ", "Отель введен в эксплуатацию в 2010 году. На территории расположены корпуса, стилизованные под европейское шале, прекрасный SPA-центр, два бассейна.", "Свежий воздух, умиротворяющая атмосфера, современная инфраструктура отлично подходят как для отдыха, так и для проведения корпоративных и деловых мероприятий.", "Время в пути по платной дороге составит не более часа."])