extends ../layout

block variables
	-var title ='Отель Лес-Арт'

block title
	title #{title} || Корпоративная презентация

block content
	section.section-img
		.block-logo
			img.block-logo__img(src='/assets/img/logo.png')
			.block-logo__desc раздел для корпоративных клиентов

	section.section-img
		+block-text('Солнечный Hotel & SPA', [
		"Парк-отель «Солнечный» находится в 56 км от МКАД по Ленинградскому шоссе.  Охраняемая территория отеля находится рядом с Живагинским прудом и прилегает к лесопарковой зоне площадью 100 Га, переходящей в хвойный лес. ",
		"Отель введен в эксплуатацию в 2010 году. На территории расположены корпуса, стилизованные под европейское шале, прекрасный SPA-центр, два бассейна.",
		"Свежий воздух, умиротворяющая атмосфера, современная инфраструктура отлично подходят как для отдыха, так и для проведения корпоративных и деловых мероприятий.",
		"Время в пути по платной дороге составит не более часа."])

	section.section-img
		.block-figures
			+figures-item('56', 'км от МКАД')
			+figures-item('до 600', 'единовременное количество участников на конференции')
			+figures-item('1670', 'общая площадь всех залов')
			+figures-item('от 3400', 'руб./сутки за 1 человека')

	section.section-img
		.block-advant
			+adv-item('tild3738-3634-4637-b232-363333303638__all.png',
				'В систему «Все включено» входят: проживание, питание и развлечения, услуги SPA-комплекса, а также развлечения для детей.')
			+adv-item('tild6437-3334-4833-b864-343233623863__wf.png',
				'Wi-Fi на всей территории отеля.')
			+adv-item('tild3662-3933-4339-a666-313866346537__parcing.png',
				'Парковка для всех гостей отеля.')
			+adv-item('tild3764-6466-4832-b235-373766346465__noroot.png',
				'Номера оборудованы кондиционером. Отель расположен в экологически чистом районе Московской области.')

section.section-img
		+block-text('Всё включено', ["В отеле #[Солнечный Park Hotel & SPA] действует система #[«Все включено»] с широким спектром услуг."])