extends ../layout

block content
	.wrapper
		.maincontent.maincontent-welcome
			.Background
				canvas.Background-canvas
			.section-welcome
				a.authorization__link(href='#') Авторизироваться
				.flip-container
					.flipper
						.flip__item.flip__item-welcome.front
							include ../sections/user
							+socials('welcome', ['vk', 'github', 'in'], ['https://vk.com/kate_kro', 'https://github.com/Ludvik4', '#'])
							+nav('nav_welcome', ['Мои работы', 'Обо мне', 'Блог'], ['/works.html', '/about.html', '/blog.html'])
						.flip__item.flip__item-welcome.back
							include ../common/index/authorization

			.footer.footer_welcome © #{name} | создано с любовью в LoftSchool | 2017

	script(src='assets/js/foundation.js', type="text/javascript")