
@font-face {
    font-family: 'fontawesomeregular';
    src: url('/assets/fonts/fontawesome-webfont.woff2') format('woff2'),
         url('/assets/fonts/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'sansus_webissimoregular';
    src: url('/assets/fonts/sansus-webissimo-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/sansus-webissimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
@font-face {
    font-family: 'fontawesomeregular';
    src: url('/assets/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('/assets/fonts/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'sansus_webissimoregular';
    src: url('/assets/fonts/sansus-webissimo-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/sansus-webissimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'robotobold';
    src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'robotobold_italic';
    src: url('/assets/fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'robotoitalic';
    src: url('/assets/fonts/roboto-italic-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'robotolight';
    src: url(./assets/fonts/roboto-light-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'robotolight_italic';
    src: url('/assets/fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'robotomedium';
    src: url('roboto-medium-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'robotomedium_italic';
    src: url('/assets/fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'robotoregular';
    src: url('/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}